.container {
  width: 100vw;
  margin-top: 60px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}
.navbar .fixed-bottom {
  display: flex;
  flex-direction: row;
}
.navbar .nav-container {
  display: flex;
  flex-direction: row;
}
.navbar .nav-container img {
  height: 35px;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: white;
  background-clip: border-box;
  border-radius: 0.25rem;
  text-align: center;
}
.card .card-header {
  padding: 0.75rem 1.25rem;
  background-color: white;
}
.card .card-header .btn {
  font-size: 5rem;
  color: lightslategray;
  text-decoration: none;
}
.card .card-header .btn:hover {
  color: lightcoral;
  text-decoration: none;
}
.card .card-header .btn-link {
  font-family: 'Overpass', sans-serif;
  font-size: 5rem;
}
.current h2 {
  font-family: 'Overpass', sans-serif;
  font-size: 2rem;
  color: lightcoral;
  padding-top: 60px;
  text-align: center;
}
.current a {
  color: lightcoral;
}
.current a:hover {
  color: #38A1F3;
  text-decoration: none;
}
.larkist {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 80px;
}
@media (max-width: 552px) {
  .larkist {
    flex-direction: column;
    margin-bottom: 50px;
  }
}
.larkist img {
  max-height: 500px;
}
.larkist .larkist-copy {
  text-align: left;
}
.larkist .larkist-copy h2 {
  color: #38A1F3;
  font-family: 'Overpass', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
}
.larkist .larkist-copy h3 {
  color: lightcoral;
  font-family: 'Abel', sans-serif;
  font-weight: bolder;
}
.larkist .larkist-copy p {
  max-width: 500px;
  font-family: 'Abel', sans-serif;
  color: lightslategray;
}
.larkist hr {
  background-color: #38A1F3;
  color: #38A1F3;
  border: solid 2x #38A1F3;
  height: 5px;
  max-width: 500px;
  margin-right: 5px;
}
.larkist-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 80px;
}
@media (max-width: 552px) {
  .larkist-bottom {
    flex-direction: column-reverse;
  }
}
.larkist-bottom span {
  display: flex;
  flex-direction: column;
}
.larkist-bottom span h4 {
  font-size: 2rem;
  margin-bottom: 25px;
  font-family: 'Overpass', sans-serif;
  font-weight: 900;
  color: lightslategray;
}
@media (max-width: 552px) {
  .larkist-bottom span h4 {
    margin-top: 25px;
  }
}
.larkist-bottom img {
  max-width: 550px;
}
@media (max-width: 552px) {
  .larkist-bottom img {
    max-width: 450px;
  }
}
.larkist-bottom .larkist-tech {
  display: flex;
  flex-direction: row;
}
.larkist-bottom .larkist-tech .tech-copy {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.larkist-bottom .larkist-tech .tech-copy h4 {
  color: #38A1F3;
  font-family: 'Abel', sans-serif;
  font-size: 2rem;
}
.larkist-bottom .larkist-tech .tech-copy .badge-pill {
  font-size: 20px;
  padding: 7px;
  margin: 7px;
  font-family: 'Abel', sans-serif;
}
.larkist-bottom .larkist-tech .tech-copy .badge-primary {
  background-color: #38A1F3;
}
.larkist-bottom .larkist-tech .tech-copy .badge-backend {
  background-color: lightcoral;
  color: white;
}
.product-hero {
  background-image: url("..//assets/product.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  color: white;
  height: 700px;
  text-align: left;
}
.product h2 {
  font-family: 'Overpass', sans-serif;
  color: white;
  font-size: 60px;
  font-weight: 900;
  margin-top: 245px;
}
.product h3 {
  font-size: 75px;
}
.product hr {
  background-color: white;
  color: white;
  border: solid 2x white;
  height: 5px;
  max-width: 100px;
  margin-left: 5px;
}
.product p {
  color: white ;
  font-size: 25px;
  font-weight: 900;
  font-family: 'Overpass', sans-serif;
}
.product-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}
@media (max-width: 552px) {
  .product-info {
    flex-direction: column;
  }
}
.product-info .product-box {
  flex-direction: column;
}
@media (max-width: 552px) {
  .product-info .product-box {
    margin-top: 18px;
  }
}
.product-info .product-box img {
  height: 50px;
}
.product-info .product-box h2 {
  margin-top: 8px;
  font-family: 'Overpass', sans-serif;
  font-weight: 900;
  color: lightcoral;
}
.product-info .product-box p {
  font-family: 'Abel', sans-serif;
  font-weight: 900;
  color: lightslategray;
}
.product-badges {
  display: flex;
  flex-direction: column;
}
.product-badges .badge-primary {
  margin: 3px 0;
  color: white;
  background-color: #38A1F3;
  width: 300px;
  font-family: 'Abel', sans-serif;
  font-weight: 900;
}
.product-badges .badge-alt {
  margin: 3px 0;
  color: #38A1F3;
  border: 1px solid #38A1F3;
  background-color: white;
  width: 300px;
  font-family: 'Abel', sans-serif;
  font-weight: 900;
}
.design-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 40px;
}
.design-nav a {
  color: lightslategray;
  text-decoration: none;
}
.design-nav a:hover {
  color: lightcoral;
  border-bottom: 2px solid lightcoral;
  text-decoration: none;
}
.figma {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 80px;
}
.figma img {
  max-height: 700px;
}
@media (max-width: 552px) {
  .figma img {
    max-height: 400px;
  }
}
.figma .figma-copy {
  flex-direction: column;
  text-align: left;
}
.figma h2 {
  font-family: 'Overpass', sans-serif;
  font-weight: 900;
  color: lightcoral;
}
.figma h3 {
  padding: 10px;
  font-family: 'Abel', sans-serif;
  font-weight: 900;
}
.figma a {
  color: lightslategray;
}
.figma a:hover {
  color: lightcoral;
  border-bottom: 2px solid lightcoral;
  text-decoration: none;
}
.figma .badge-designs {
  background-color: #38A1F3;
  font-family: 'Abel', sans-serif;
  color: white;
  font-size: 20px;
  padding: 7px;
  margin: 7px;
}
.illustrator {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 80px;
}
.illustrator .illustrator-copy {
  flex-direction: column;
  text-align: left;
}
.illustrator .illustrator-copy h2 {
  font-family: 'Overpass', sans-serif;
  font-weight: 900;
  color: lightcoral;
}
.illustrator .illustrator-copy h3 {
  padding: 10px;
  font-family: 'Abel', sans-serif;
  font-weight: 900;
}
.illustrator .illustrator-copy a {
  color: lightslategray;
}
.illustrator .illustrator-copy a:hover {
  color: lightcoral;
  border-bottom: 2px solid lightcoral;
  text-decoration: none;
}
.illustrator .illustrator-copy .badge-designs {
  background-color: #38A1F3;
  font-family: 'Abel', sans-serif;
  color: white;
  font-size: 20px;
  padding: 7px;
  margin: 7px;
}
.photography {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 80px;
}
.photography img {
  max-height: 700px;
}
@media (max-width: 552px) {
  .photography img {
    max-height: 400px;
  }
}
.photography .photo-copy {
  flex-direction: column;
  text-align: left;
}
.photography .photo-copy h2 {
  font-family: 'Overpass', sans-serif;
  font-weight: 900;
  color: lightcoral;
}
.photography .photo-copy h3 {
  padding: 10px;
  font-family: 'Abel', sans-serif;
  font-weight: 900;
}
.photography .photo-copy a {
  color: lightslategray;
}
.photography .photo-copy a:hover {
  color: lightcoral;
  border-bottom: 2px solid lightcoral;
  text-decoration: none;
}
.photography .photo-copy .badge-designs {
  background-color: #38A1F3;
  font-family: 'Abel', sans-serif;
  color: white;
  font-size: 20px;
  padding: 7px;
  margin: 7px;
}
.seo-body {
  display: flex;
  flex-direction: row;
  padding-top: 35px;
  margin-left: 55px;
}
.seo-body .seo-organic {
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.seo-body .seo-organic img {
  max-width: 95%;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2.5px solid #38A1F3;
  border-radius: 10px;
}
.seo-body .seo-organic h3 {
  padding-top: 25px;
  color: lightslategray;
  padding-bottom: 20px;
  font-family: 'Overpass', sans-serif;
  font-weight: 900;
  text-align: center;
}
.seo-body .seo-organic h5 {
  font-family: 'Abel', sans-serif;
  color: lightslategray;
  font-weight: 900;
}
.seo-body .seo-organic p {
  max-width: 90%;
  font-family: 'Abel', sans-serif;
  color: lightslategray;
}
.seo-body .seo-paid {
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.seo-body .seo-paid img {
  max-width: 87.5%;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2.5px solid #38A1F3;
  border-radius: 10px;
}
.seo-body .seo-paid h3 {
  padding-top: 25px;
  color: lightslategray;
  padding-bottom: 20px;
  font-family: 'Overpass', sans-serif;
  font-weight: 900;
  text-align: center;
}
.seo-body .seo-paid h5 {
  font-family: 'Abel', sans-serif;
  color: lightslategray;
  font-weight: 900;
}
.seo-body .seo-paid p {
  max-width: 90%;
  font-family: 'Abel', sans-serif;
  color: lightslategray;
}
