.container {
  width: 100vw;
  margin-top: 60px;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: white;
  background-clip: border-box;
  border-radius: 0.25rem;
  text-align: center;
}
.card .card-header {
  padding: 0.75rem 1.25rem;
  background-color: white;
}
.card .card-header .btn {
  font-size: 5rem;
  color: lightgray;
  text-decoration: none;
}
.card .card-header .btn:hover {
  color: lightcoral;
  text-decoration: none;
}
.card .card-header .btn-link {
  font-family: 'Overpass', sans-serif;
  font-size: 5rem;
}
.larkist {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 100px;
}
@media (max-width: 552px) {
  .larkist {
    flex-direction: column;
    margin-bottom: 50px;
  }
}
.larkist img {
  max-height: 500px;
}
.larkist .larkist-copy {
  text-align: left;
}
.larkist .larkist-copy h2 {
  color: #38A1F3;
  font-family: 'Abel', sans-serif;
  font-size: 3.5rem;
}
.larkist hr {
  background-color: #38A1F3;
  color: #38A1F3;
  border: solid 2x #38A1F3;
  height: 5px;
  max-width: 500px;
  margin-right: 5px;
}
.larkist-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 80px;
}
@media (max-width: 552px) {
  .larkist-bottom {
    flex-direction: column-reverse;
  }
}
.larkist-bottom img {
  max-width: 550px;
}
@media (max-width: 552px) {
  .larkist-bottom img {
    max-width: 450px;
  }
}
.larkist-bottom .larkist-tech {
  display: flex;
  flex-direction: column;
}
.larkist-bottom .larkist-tech .tech-copy {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.larkist-bottom .larkist-tech .tech-copy h4 {
  color: #38A1F3;
  font-family: 'Abel', sans-serif;
  font-size: 2rem;
}
